node_modules
npm-debug.log
.git
.gitignore
.vscode
.env
newrelic_agent.log
carousel-api/node_modules
carousel-api/.env
carousel-api/.git
carousel-api/npm-debug.log
carousel-api/.gitignore
carousel-api/newrelic_agent.log
carousel-ui/node_modules
carousel-ui/.env.development
carousel-ui/.git
carousel-ui/npm-debug.log
carousel-ui/.gitignore
carousel-ui/webpack.config.js
carousel-ui2/node_modules
carousel-ui2/.env
carousel-ui2/.git
carousel-ui2/npm-debug.log
carousel-ui2/.gitignore
